
.idea/workspace.xml

.idea/.name

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/pythonlearning.iml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/Project_Default.xml

*.xml

.idea/inspectionProfiles/Project_Default.xml

2014-3.xlsx

600350.xlsx

stock_basics.csv
